.about {
  background-color: white;
  width: 100%;
  margin-top: 20px;
}

.about .taco {
  display: flex;
  flex-direction: row;
}

.about .taco img {
  margin: 40px;
}

.about .taco .about-details {
  margin-top: 90px;
  margin-left: -30px;
}

.about .taco .about-details p,
button {
  font-size: 18px;
  margin-top: 15px;
}

.about .taco .about-details button {
  background-color: #ffc600;
  color: black;
  width: 125px;
  height: 40px;
  border-color: #ffc600;
}

.gallery .gallery-items img {
  width: 200px;
  /* margin: 15px; */
}

.gallery {
  margin-top: 25px;
}

/* .gallery h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.gallery .gallery-items {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery h2 {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
  margin-bottom: 25px;
}

.gallery h2::before,
h2::after {
  display: block;
  content: "";
  height: 10px;
  background: linear-gradient(
    to var(--direction, left),
    var(--yellow),
    transparent
  );
}

@media (max-width: 750px) {
  .about .taco {
    display: flex;
    flex-direction: column;
  }
  .about .taco .about-details {
    margin-left: 50px;
    margin-bottom: 25px;
    margin-top: -50px;
  }
}

@media (max-width: 750px) {
  .gallery .gallery-items img {
    width: 100%;
  }
}
